#different {position: absolute;background: url(https://shalehaha.github.io/Spot-the-Difference-Game/contest_files/HD_PhotoHunt_After_0001_sm.jpg) no-repeat top left;width:400px;height:600px;left:440px;top:128px;z-index:0;}
#leaf-diff {position:absolute;background: url(https://shalehaha.github.io/Spot-the-Difference-Game/contest_files/leaf.png) no-repeat top left;width:400px;height:600px;left:440px;top:128px;z-index:1;display: none;}
#light-diff {position:absolute;background: url(https://shalehaha.github.io/Spot-the-Difference-Game/contest_files/light.png) no-repeat top left;width:400px;height:600px;left:440px;top:128px;display:none;z-index:1;}
#nolight-diff {position:absolute;background: url(https://shalehaha.github.io/Spot-the-Difference-Game/contest_files/nolight.png) no-repeat top left;width:400px;height:600px;left:440px;top:128px;display:none;z-index:1;}
#sauce-diff {position:absolute;background: url(https://shalehaha.github.io/Spot-the-Difference-Game/contest_files/sauce.png) no-repeat top left;width:400px;height:600px;left:440px;top:128px;display:none;z-index:1;}
#petal-diff {position:absolute;background: url(https://shalehaha.github.io/Spot-the-Difference-Game/contest_files/petal.png) no-repeat top left;width:400px;height:600px;left:440px;top:128px;display:none;z-index:1;}
#transparentmap {z-index:9999;position: absolute;left:440px;top:128px;}
#form_container {display:none;color:#035C3F;background:#fff;border:2px solid #fff;position:absolute;top:180px;left:150px;z-index:9999999;padding:10px;}
#form_container div{font-size: 20}
body {color:#000; font-family:helvetica, arial, sans-serif;}
#original {position:absolute;}
#wrapper {width:930px; padding:0px 0px 20px 0px; margin:0px auto;position:relative;}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background-color:#f24537;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:-70px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:300px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}.button:hover {
	background-color:#c62d1f;
}.button:active {
	position:relative;
	top:1px;
}